/*POLICES*/

@font-face				/*police en plus*/
{
    font-family: 'Dumbledor';
    src: url('polices/dumb1.ttf') format('truetype');
}

/*MISE EN PAGE DES BLOCS*/

#bloc1
{
	font-family : Dumbledor, Tahoma, cambria;
	display : flex;
	flex-direction : column;
}

header
{
	display : flex;
	float-direction : row;
	border : 1px solid  blue;
	width : 100%;
}


#timeline
{
	display : flex;
	flex-direction : row;
	border : 1px solid  red;
}


/*sommaire*/
nav
{
	flex : 1;
	text-transform : uppercase;
	text-align : center;
}

#de20
{
	border : 1px solid green;
	flex : 2;
}

a
{
	color : black;
	text-decoration : none;
	font-size : 1.3em;
}

a:hover
{
	font-size : 1.5em;
	text-decoration : underline;
}

li
{
	list-style-type : none;
	padding : 2px 2px 2px 2px;
}

/*TIMELINE*/
#evenement1, #evenement2
{
	width : 50%;
}

#evenement1
{
	border-right : 2px solid black;
	
}

/*titres*/
h1
{
 text-align : center;
 
}

#evenement1 h1, #evenement2 h1
{
	text-decoration : underline;
	text-transform : uppercase;
}

h2
{
	font-weight : normal;
}

/*TEXTE*/

.special
{
	text-align : center;
}
